@{
    ViewData["Title"] = "Painel Adm";
}

<style>
    .content-wrapper {
        display: flex;
        align-items: center;
        height: 100vh; /* Ajuste conforme necessário */
    }

    .left-column img {
        max-width: 100%;
        height: auto;
    }

    .right-column {
        text-align: center;
    }
</style>

<div class="container content-wrapper">
    <div class="row w-100">
        <div class="col-md-6 left-column">
            <img src="/img/bg.png" class="img-fluid" alt="Background Image">
        </div>
        <div class="col-md-6 right-column">
            <h2 class="display-4">Olá Maicon!<br />Seja bem-vindo novamente!</h2>
            <br />
            <h1>Painel Adm - FishSolutions</h1>
            <h2>Tudo o que sua pescaria precisa, você encontra aqui!</h2>
        </div>
    </div>
</div>
